<p><%= notice %></p>
<p> Patient Name: <%=@appointment.patient_name %></p>
<p> Physician Name: <%=@appointment.physician_name %></p>
<p> Appointment Time: <%=@appointment.appointment_date %></p>

<%= link_to "Back to Appointment List", appointments_path %><br>
